body {
    background-color: whitesmoke;
    
}

h1 {
    text-align: center;
}

.menu {
    display: inline-block;
    padding: 2em;
    text-align: center;
    border: 2px solid brown;
    color: brown;
    width: 7em;
    border-radius: 45px;
  
}
.cont {
   padding: 4em; 

}

#logo-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.pMain {
    text-align: center;
}
#cont {
    background: whitesmoke;
    min-height: 10em;
}
.bar {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2em;
    margin-top: 2em;
}


