<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="<?= $basePath."/css/main.css" ?>"/>
    <link rel=icon href="<?= $basePath."/img/Php-JS-Mini.png" ?>">

</head>
<body>
        <div id="logo-div">
            <img src="<?= $basePath."/img/phpjs-logo.png" ?>"/>
        </div>
        <p class="pMain"> Welcome to PhpJs </p>
<?php if(!empty($test)): ?>
        <p class="pMain"> Et le première argument est <?= $test ?> </p>
<?php endif;?>
<?php if(!empty($otherVar)): ?>
        <p class="pMain"> Et le second argument est <?= $otherVar ?> </p>
<?php endif; ?>
        <div class="bar">
            <div class="phpJs menu" element="cont" action="table">
                MY SUPER DIV
            </div>
            <div class="phpJs menu" element="cont" action="anotherPage">
                Another Page
            </div>
        </div>
        <div id="cont">
        <p class="pMain">THE DESTINATION CONTAINER</p>
        </div>
</body>

</html>